* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(150, 145, 140);
}

/* ------------- Menu Section ------------- */
#menu_window {
    display: none;
}
/* ------------- History Section ------------- */
#history_window {
    display: none;
}
/* ------------- Select Section ------------- */
#select_window {
    display: block;
}
#cat_select {
    width: 200px;
}
/* ------------- Quiz Section ------------- */
#quiz_window {
    display: none;
}
/* ------------- Score Section ------------- */
#score_window {
    display: none;
}
